<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
  <%= locals.friend %> 
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <p><%= locals.tagline %></p>
            <ul>
                <% if (locals.user) { %>

                    <% locals.user.forEach(function(car) { %>
                        <li>
                            <strong><%= car.firstname %></strong>
                            <%= car.lastname %>, id <%= car.id %>
                        </li>
                    <% }); %>
                   
                <% } %>
                
            </ul>
        </div>
    </div>


</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>